*{
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei" !important;
}
html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
}
/*body背景色为f4f4f4*/
.bodybgf4{	
	background: #F4F4F4 !important;
}
.color-ed716f{
	color: #ed716f;
}
/*右边小字体提示*/
.textfctip{
	font-size: 12px !important;
	color: #999 !important;
	margin-right: 10px;
	margin-top: 15px;
}
ul{
	list-style: none;
}
a,a:hover{text-decoration: none !important;color: #000;}

.floatright{
	float: right;
}
.floatleft{
	float: left;
}
.calendar-icon{
	border: 0 !important;
}
/*底部 start*/
.indexfooter{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	background: #fff;
	border-top: 1px solid #f4f4f4;
	z-index: 9998;
}
.indexfooter ul{
	width: 100%;
}
.indexfooter ul li{
	text-align: center;
	float: left;
	width: 20%;
	display: inline-block;
}
.indexfooter ul li>a div:first-child{
	height: 35px;
}
.indexfooter ul li>a div:first-child i{
	font-size: 25px;
}
.indexfooter ul li>a div:nth-child(2){
	font-size: 12px !important;
}
.indexfooterliactive i,.indexfooterliactive div{
	color: #5555B1 !important;
}
.footer_clock div{
	margin: 0 auto 0;
	background: #fff;
	width:60px !important;
	height: 50px !important;
	position: relative;
}
.footer_clock div i{
	position: absolute;
	top: -15px;
	left: 9px;
	display: block;
	width: 42px !important;
	height: 42px !important;
	border-radius: 21px;
	line-height: 42px;
	text-align: center;
	margin: 4px auto;
	background: #5555B1;
	color: #fff;
}
.footer_clock>div{
	width:60px !important;
	height: 60px !important;
	border: 1px solid #f4f4f4;
	z-index: -2;
	border-radius: 30px;
	position: absolute;
	top: -21px;
	left: 50%;
	margin-left: -30px;
}
/*底部 end*/

/*所有同用户个人中心下的列表样式 start*/
.m-cclisttop{
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding:0 10px;
	background: #fff;
	border-bottom: 1px solid #F4F4F4;
	overflow: hidden;
}
.m-cclisttop>a{
	display: block;
}
.m-cclisttop span:nth-child(2){
	padding: 0 !important;
}
.m-cclisttop span:nth-child(2) span{
	float: left;
}
.m-cclisttop span:first-child i{
	padding-right: 5px;
}
.m-cclisttop span i{
	font-size: 20px !important;
}
.m-ccltopmtop{
	margin-top: 10px;
}
/*所有同用户个人中心下耳朵列表样式 end*/

.selectsex>div{
	float: left;
	width: 50%;
	text-align: center;
}
.quanbig{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	padding:3px;
	display: inline-block;
	border: 1px solid #999;
}
.quanactive{
	border: 1px solid #5555B1;
}
.quanactive>div{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #5555B1;
}

/*身份确认 start*/
.model-identify{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.model-identify .m-cclisttop span{
	display: inline-block;
	width: 30%;
	float: left;
	min-width:80px;
}
.model-identify .m-cclisttop>div{
	width: 70%;
	display: inline-block;
	float: left;
}
.model-identify .m-cclisttop>div input{
	padding: 3px 10px;
	height: 38px !important;
	border-radius: 5px;
	border: 1px solid #F4F4F4;
	margin-top: 2px;
}
.mindetify-upimg{
	padding: 5px 10px;
	float: left;
	width: 100%;
	margin-top: 5px;
}
.mindetify-upimg .upimg{
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.mindetify-upimg .upimg img{
	width: 100%;
}
.mindetify-upimg .upicon{
	width: 80px;
	height: 80px;
	border: 1px solid #999;
	float: left;
	margin-right: 15px;
}
.mindetify-upimg .upicon i{
	font-size: 30px;
	color: #999;
	display: block;
	margin: 15px 23px;
}
.subtnrenzheng{
	border-style: none;
	background: #5555B1;
	color: #fff;
	padding: 6px 0;
	width: 80%;
	display: block;
	margin: 20px auto;
}
/*身份确认 end*/
/*返回上级页面样式 start*/
.backtip{
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	width: 100%;
	/*box-shadow: 0 0 5px rgba(0,0,0,0.3) !important;*/
	box-shadow: 0 0 5px rgba(85,85,177,0.3) !important;
	margin-bottom: 5px;
	background: #fff;
}
.backtip .addwudang{
	display: inline;
	padding-left: 15px;
}
/*返回上级页面样式 end*/
/*黑色半透明内衬 start*/
.blackchen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
/*黑色半透明内衬 end*/
/*提示样式 start*/
.zhifusuccess{
	position: fixed;
	top: 50%;
	background: #fff;
	left: 50%;
	margin-left: -60px;
	margin-top: -30px;
	padding: 10px 15px;
	border-radius: 10px;
}
.zhifusuccess img{
	width: 30px;
}
/*提示样式 end*/

/*下边中间字体样式提示可消失 start*/
.alltip{
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: -50px;
	opacity: 0;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	padding: 3px 5px;
	background: #f4f4f4;
	border-radius: 3px;
}
.alltipafter{
	opacity: 1;
}
/*下边中间字体样式提示可消失 end*/

/*照片上传成功之后跳转页面样式 start*/
.uploadsuccessbody{
	text-align: center;
}
.uploadsuccessbody img{
	display: block;
	margin: 20px auto;
	width: 90%;
	max-width: 300px;
}
.uploadsuccessbody p{
	font-size: 20px;
	margin-bottom: 25px;
}
.uploadsuccessbody p a,.uploadsuccessbody .secondtz{
	color: #f00;
}
.uploadsuccessbody .fontsizesecond{
	font-size: 15px;
}
.uploadsuccessbody .backhome a{
	display: block;
	margin: 10px auto;
	width: 80%;
	background: #f69052;
	color: #fff;
	font-size: 15px;
	padding: 6px 0;
	border-radius: 6px;
}
/*照片上传成功跳转页面样式 end*/
/*支付方式页面样式start*/
.zhifubody{
	background: #fff;
	padding: 20px 10px;
}
.zhifubody h3{
	font-size: 18px;
	color: #999;
	text-align: center;
}
.zhifubody p{
	text-align: center;
}
.zhifustyle{
	width: 280px;
	padding: 36px 0;
	margin: 0 auto;
}
.zhifustyle>div>div{
	text-align: left !important;
}
.zhifustyle>div:nth-child(2){
	padding-left: 20px;
}
.zhifustyle>div,.zhifustyle>div>div,.zhifustyle i{
	float: left;
}
.zhifustyle i{
	font-size: 25px;
	color: #0f0;
	margin-top: -8px;
	margin-left: 6px;
	margin-right: 0 !important;
}
.zhifubtnstyle{
	width: 80%;
	background: #eb9256;
	padding: 6px 10px;
	height: 32px;
	margin: 30px auto;
}
.zhifubtnstyle>div{
	width: 50%;
	float: left;
	text-align: center;
	color: #fff;
}
.zhifubtnstyle>div:first-child{
	border-right: 1px solid #fff;
}
.zhifusuccess{
	position: fixed;
	top: 50%;
	background: #fff;
	left: 50%;
	margin-left: -60px;
	margin-top: -30px;
	padding: 10px 15px;
	border-radius: 10px;
}
.zhifusuccess img{
	width: 30px;
}
/*支付方式页面样式end*/


/*用户中心新增start*/
.bgqiang_{
	position: absolute;
	z-index: -1;
	width: 100%;
}
.bgqiang{
	display: block;
	margin: 0 auto !important;
	height: 220px;
}
/*用户中心新增样式 end*/